html,
body {
  padding: 0px;
  margin: 0px;
}

$bgWidth: 10000px;
#content {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to right,
    #1e5799 0%,
    #2ce0bf 19%,
    #76dd2c 40%,
    #dba62b 60%,
    #e02cbf 83%,
    #1e5799 100%
  );
  background-size: $bgWidth 100%;
  animation: bg 60s linear infinite;

  .inner-content {
    overflow: hidden;
    display: flex;
    gap: 30px;
    width: 100vw;
    max-width: 1400px;
    height: 100vh;
    max-height: 800px;
    margin: 0 auto;
    
    box-sizing: border-box;

    .editors {
      background: black;
      border-radius: 50px;
      width: 100%;
      padding: 50px;

        .tabs {
          display: flex;
          gap: 50px;
          color: white;
          font-family: "Caveat", cursive;
          font-optical-sizing: auto;
          font-style: normal;
          font-size: 32px;

          .tab:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
    }

    #render {
      width: auto;
      background: black;
      border-radius: 20px;
      padding: 10px;

      canvas {
        width: auto !important;
        height: 780px !important;
      }
    }
  }
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: $bgWidth;
  }
}
